{% extends 'admin/admin_base.html.twig' %}

{% block title %}Participation {{ participation_evenement.id }}{% endblock %}

{% block admin_content %}
    <div class="container-fluid p-4">
        {% include 'participation_evenement/_show_content.html.twig' %}
    </div>
{% endblock %}
